/* CSS reference page */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: orange;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
}

li {
    float: left;
{
    
li a {
   padding: 10px 15px;
   text-decoration:none;  
}
   
li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    }

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: green;
    width: 100%;
    z-index: 1;
}

.dropdown-content a {
    color: blue;
    padding: 4px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: pink;
    padding: 10px 15px;
}

.dropdown:hover .dropbtn {
    background-color: purple;
}

